.git
.DS_Store

database/*.wal

frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/playwright-report
frontend/test-results

data-pipeline/.venv
data-pipeline/target
data-pipeline/dbt_packages
data-pipeline/.pytest_cache

**/__pycache__
**/*.pyc
